body {
    margin: 0;
    background-color: #ECECEC;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideUp {
    from { height: 5000px; bottom: 0; left: 5%; position: absolute; }
    to   { height: fit-content; position: relative; }
}

@keyframes grow {
    from { width: 0%; height: 0%; }
    to   { width: 90%; height: 24%; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

html, body, #root {
    height: 100%;
}

.center {
    text-align: center;
}

a {
    &.center {
        display: block;
    }
}

.single-artwork {
    padding: 1em;
    margin: 1em;
    border-radius: .5em;
    background-color: white;
    position: relative;
    color: white;
    // min-height: 300px;
    // max-height: 400px;
    height: 400px;
    overflow: hidden;
    display: grid;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img {
        width: 100%;
        height: 100%;
        align-self: center;
        object-fit: cover;
        cursor: pointer;
        // filter: brightness(80%);
    }
    p {
        display: none;
    }
    div {
        position: absolute;
        bottom: 1%;
        left: 5%;
        width: 0%;
        height: 0%;
        border-radius: .5em;
        background-color: #4D9DE0;

        &.display {
            display: block;
            width: 90%;
            height: 24%;
            animation-name: grow;
            animation-duration: .5s;
            animation-direction: alternate;
        }
    }
    h1 {
        padding-left: 10px;
        margin-bottom: 2px;
        margin-top: 10px;
        z-index: 12;
        filter: brightness(100%);
        display: none;
        
        &.display {
            display: block;
            animation: fadeIn 1s;
        }
    }
    a {
        padding-left: 15px;
        margin: 0.25em;
        font-size: 1.25em;
        z-index: 12;
        display: none;
        color: white;
        text-decoration: none;

        &.display {
            display: block;
            animation: fadeIn 1s;
        }
    }
}

.full-image {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    z-index: 1000;
    padding: 1em;
    border-radius: .5em;

    img {
        width: 100%;
    }

    .text {
        display: grid;
        h1 {
            border-bottom: 2px solid black;
            grid-column: 1/2;
            // grid-row: 1/2;
        }

        p {
            font-size: 1.5em;
        }
    
        a {
            // grid-column: 2/3;
            grid-row: 1/2;
            // align-self: center;
        }
    }
}

.no-artwork {
    margin: 1em auto;
    width: fit-content;
}

.artwork-panel {
    width: 90%;
    margin: 1em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    // animation-name: slideUp;
    // animation-duration: 1s;
    // animation-delay: 2s;

    @media only screen and (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }
}

form {
    color: rgb(100, 100, 100);
    display: grid;
    width: 25%;
    margin: 1em auto;
    padding: 1.5em;
    border-radius: .5em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-self: center;
    grid-row: 1/3;
    grid-column: 1/-1;

    input {
        padding: .5em;
        width: 80%;
    }

    &.login-form {
        width: 30%;
        @media only screen and (max-width: 1250px) {
            width: 40%;
        }

        @media only screen and (max-width: 950px) {
            
        }
    }

    &.signup-form {
        // grid-template-columns: 1fr 1fr;
        width: 30%;
        grid-row: 1/2;
        // justify-items: center;
        div {
            display: grid;
        }

        h2 {
            border-bottom: 3px solid #1A936F;
        }

        button {
            grid-column: 1/-1;
        }
    }

    input {
        border-radius: .25em;
        border: 1.5px solid lightgray;
        padding: .25em;
        margin: 1em;
        margin-left: 0;
        margin-top: .25em;
        box-shadow: 3px 3px 3px lightgray;
        font-size: 1em;
        // width: 50%;
        // justify-self: center;

        &:focus {
            outline: 2px solid #1A936F;
        }
    }
    label {
        font-weight: 500;
        font-size: 1.75em;
        // display: grid;

        &:first-of-type {
            margin-top: 1em;
        }
    }
    button {
        justify-self: center;
        width: 70%;
        font-size: 1.5em;
    }
}

button {
    width: 7em;
    padding: 1em;
    color: white;
    background-color: #1A936F;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: all .25s;

    &:hover {
        background-color: #91c779;
        // color: #E56DB1;
    }
}

.bg-login {
    // background-image: url('../public/images/background.jpg');
    // background-image: url('../public/images/background.jpg');
    filter: blur(2px);
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-row: 1/-1;
    grid-column: 1/-1;

    z-index: -1;
}

.login-page, .signup-page {
    // width: 100%;
    min-height: 91vh;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #306BAC;
    // background-color: #F7D3E8;

    img {
        margin-top: 1em;
        justify-self: center;
        width: 70%;
        // grid-column: 1/-1;
        // grid-row: 1/2;
    }

    a {
        text-align: right;
        margin-top: .75em;
    }
}

.bg-prompt {
    background-image: url('../public/images/prompt-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: -1;
    grid-row: 1/-1;
    grid-column: 1/-1;
    border-radius: .5em;

    @media only screen and (max-width: 1350px) {
        // max-height: 300px;
        height: 100%;
    }
}

.prompt {
    width: 90%;
    margin: 1em auto;
    // text-align: center;
    display: grid;
    height: 500px;
    border-radius: .5em;
    color: white;
    // font-family: 'Sono', sans-serif;

    div {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }

    .prompt-content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
        // background-color: #4D9DE0;
        border-radius: .5em;

        h1 {
            font-size: 4em;
            margin-bottom: 0;
            margin-left: .5em;
            border-bottom: 3px solid white;
            height: fit-content;
        }

        h2 {
            font-size: 3em;
            margin-top: 0;
            margin-left: 1em;
        }

        h1, h2 {
            grid-column: 1/2;
        }

        .select {
            grid-column: 1/2;
            grid-row: 3/4;
            width: 50%;
            // justify-self: center;
            align-self: end;
            margin-left: 1em;
            margin-bottom: 1em;

            .prompt-select {
                color: black;
            }
        }

        .artwork-form-show-btn {
            grid-column: 2/3;
            grid-row: 3/4;
            justify-self: end;
            align-self: end;
            margin-right: 10%;
            margin-bottom: 5%;
            height: 40%;
            width: 30%;
            // padding: 1.25em;
            font-size: 1.5em;

            &:hover {
                color: white;
            }
        }

        @media only screen and (max-width: 1350px) {
            height: 100%;

            h1 {
                font-size: 3em;
                grid-column: 1/-1;
                margin-right: 1em;
            }

            h2 {
                font-size: 2em;
                margin-top: .5em;
            }

            .artwork-form-show-btn {
                font-size: 1em;
                height: 60%;
                width: 40%;
            }
        }
    }

    @media only screen and (max-width: 1350px) {
        // max-height: 200px;
        height: 15%;
    }
}

nav {
    background-color: white;
    box-shadow: 3px 3px 3px lightgray;
    height: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 12;

    a {
        text-decoration: none;
        align-self: center;
        margin-left: 1em;
        font-size: 2em;
        font-weight: 600;
    }

    .nav-logo {
        width: 30%;
        display: block;
        height: inherit;

        img {
            width: 100%;
            display: block;
        }

        @media only screen and (max-width: 1300px) {
            display: grid;  
            
            img {
                align-self: center;
            }
        }
    }
}

a {
    color: #306BAC;
}

@keyframes growVertical {
    from { max-height: 0; }
    to   { max-height: 1000px; }
}

.nav-profile {
    justify-self: end;
    align-self: center;
    position: relative;
    width: 100%;
    text-align: right;


    .profile-pic {
        color: #7768AE;
        font-size: 3em;
        margin-right: .5em;
        cursor: pointer;
    }

    img.profile-pic {
        width: 8%;
        border: 2px solid #4D9DE0;
        border-radius: 100%;
        // padding: .1em;
    }

    div {
        position: absolute;
        right: 1em;
        
        background-color: #E1BC29;
        border-radius: .5em;
        width: 30%;
        text-align: left;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: hidden;

        animation: growVertical 2s;

        &.hide-animation {
            animation-name: growVertical;
            animation-duration: 2s;
            animation-direction: reverse;
        }

        a {
            font-size: 1.25em;
            margin: 0;
            padding: .25em;
            color: white;
            height: 65%;
            display: block;

            &:first-of-type {
                // border-radius: .25em .25em 0 0;
                margin-top: .5em;
            }

            &:last-of-type {
                // border-radius: 0 0 .25em .25em;
                margin-bottom: .5em;
            }

            &.active, &:hover {
                background-color: rgba(0, 0, 0, 0.24);
                border-left: 4px solid #7768AE;
            }
        }
    }
}

.profile {

    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;

    .artwork-section {
        .title {
            // text-align: center;
            color: #7768AE;
            font-size: 3em;
            margin-left: 1em;
            margin-right: .5em;
            border-bottom: 3px solid #7768AE;
        }

        .single-artwork {
            height: 300px;
        }
    }

    .info {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: .5em;
        overflow: hidden;
        margin-top: .5em;
        margin-left: .5em;
        margin-bottom: 1em;
        height: 90%;
        max-height: 5000px;

        .text {
            background-color: #4D9DE0;
            padding: .5em;
            color: white;
            height: 100%;

            h1 {
                border-bottom: 4px solid #1A936F;
            }

            p {
                margin: 0;
                font-size: 1.25em;
            }

            .artwork-form-show-btn {
                margin-top: 20%;
                width: 70%;
                margin: 20% auto;
                display: block;
            }
        }

        img {
            width: 50%;
            justify-self: center;
            border: 2px solid lightgray;
            border-radius: 100%;
            padding: 1em;
            background-color: white;
            margin: .5em auto;
            display: block;
        }
    }
}

.artwork-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 1000;

    form {
        width: 40%;
        margin: 3em auto;
        // max-height: 500px;
        display: grid;
        grid-template-columns: 1fr;

        input {
            padding: .5em;
            width: 90%;
            grid-column: 1/-1;
        }

        label {
            grid-column: 1/-1;
        }

        .artwork-form-btn {
            width: 40%;
            margin-top: .5em;
            grid-column: 1/-1;
        }
    }
}